.triangle-right {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 500px solid orange;
    border-bottom: 200px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .name {
    z-index: 1;
    position: absolute;
    top: 49%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .triangle-right {
    z-index: 0;
    position:absolute;
    transition: 2s linear;
  }
 


