body {
    background-color: white;
    margin: auto;
    padding: auto;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*.smiley{
  margin-top: -90px;
  left: 255px;
position: relative;
  display: flex;
  width: 100px;
}*/
.heading {
  margin-left: 2%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
letter-spacing: 2px;
}
.topnav {
  overflow: hidden;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
letter-spacing: 2px;
}
.navbar {
    outline-style: solid;
    outline-color:#353935;
    outline-width: 1px;
  }
  /*.linebar {
    outline-style: dashed;
    outline-color:#353935;
    outline-width: 1px;
    position: relative;
    margin-top: 4%;
  }
  .topnav a {
    text-decoration: none;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover:not(.active) {
    background-color: transparent;
    color: #FF2400;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: o;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 2px 15px;
  }
  .active {
    color: #FF2400;
    /*outline-style:solid;
    outline-color: #353935;*/
    outline-width: 3px;
  }
 /* p{
    position: absolute;
    left: 600px;
    top: 400px;
    font-family: "latino-gothic-variable",sans-serif;
    font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
    font-size: 12px;
font-weight: 400;
letter-spacing: 2px;
  }*/
  
  h4 {
    color: gray;
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-size: 12px;
font-weight: 400;
letter-spacing: 2px;
word-spacing: 2px;
  } 
  .digital_work {
    color:#353935;
    position: relative;
    font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100px;
  font-size: 20px;
letter-spacing: 1px;
top: 50px;
margin-left: 12px;
       /* width: 300px;
        padding: 10px;
        border-style: solid;
        border-radius: 5px;*/
  }


    * {
      transition: all .4s;
    }
  
    .main_content {
      margin: 60px 0 40px;
      column-gap: 20px;
      width: 100%;
      float: left;
      padding: 10px;
    }
      .picture_wrapper {
        margin-bottom: 10px;
      }
        .img {
          height: 100%;
          width: 100%;
          align-content: center;
          object-fit: cover;
          border-radius: 2px;
        }
        * {
          box-sizing: border-box;
        }
       
  
       

  /* responsive */
  @media (min-width: 1200px) {
    .main_content {
      column-count: 4;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .main_content {
      column-count: 3;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .main_content {
      column-count: 2;
    }
  }
  
  @media (max-width: 575px) {
    .main_content {
      column-count: 1;
    }
  }
  
 /* .container-fluid {
    background: gray;
    flex-wrap:wrap;
    flex-flow: row;
    
}

.flex-column {
    max-width: 260px;
    display: flex;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
    justify-content: center; 
}

.gay_kiss {

width: 255px;
height: 326px;
object-fit: contain;
}
.omar {
 
  width: 191px;
  height: 326px;
  object-fit: contain;
  }
  
.jacob {
  
width: 273px;
height: 326px;
object-fit: contain;
}
.granny {
 
  width: 239px;
  height: 326px;
  object-fit: contain;
}
.fruit {
 
  width: 466px;
  height: 326px;
  object-fit: contain;
}
.marcus {

  width: 316px;
height: 452px;
  object-fit: contain;
}

.emma {

  width: 347px;
height: 326px;
  object-fit: contain;
}
.josh {
 
  width: 465px;
  height: 479px;
  object-fit: contain;
}
 
 /* .container1 {
    position: relative;
    height:50%;
    width: 100%;
      top: -180px;
      vertical-align: center;
      background-color:transparent;
  }
.gay_kiss {
  position: relative;
width: 255px;
height: 326px;
top: 310px;
left: 111px;
object-fit: contain;
}
.omar {
  position: relative;
  width: 191px;
  height: 326px;
  top: 310px;
  left: 126px;
  object-fit: contain;
  }
  
.jacob {
  position: relative;
width: 273px;
height: 326px;
top: 310px;
left: 143px;
object-fit: contain;
}
.granny {
  position: relative;
  width: 239px;
  height: 326px;
  top: 310px;
  left: 160px;
  object-fit: contain;
}
.fruit {
  position: relative;
  width: 466px;
  height: 326px;
  top: 199px;
  left: 111px;
  object-fit: contain;
}
.marcus {
  position: relative;
  width: 316px;
height: 452px;
top:325px;
  left: 127px;
  object-fit: contain;
}

.emma {
  position: relative;
  width: 347px;
height: 326px;
  top: 199px;
  left: 143px;
  object-fit: contain;
}
.josh {
  position: relative;
  width: 465px;
  height: 479px;
  top: 715px;
  float: left;
  object-fit: contain;
} 
.container2 {
    height:50%;
      display:grid;
      background-color:whitesmoke;
  }
.self {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.MH {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.sad {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.cow {
  width: 434px;
  height: 534px;
  object-fit: contain;
}
.mountain {
  width: 434px;
  height: 534px;
  object-fit: contain;
}*/

a {
    text-decoration:none;
    color: #353935;
  }
  
  a:hover{
    text-decoration:none;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: transparent;
    color: #353935;
  }
  .fa-linkedin {
    background: transparent;
    color: #353935;
  }
  .footer {
    position:relative;
    margin-top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
 }
  a {
      text-decoration:none;
      color: #353935;
    }
    
    a:hover{
      text-decoration:none;
    }
  
   
 
    /*
    .row {
      
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    .column {
      -ms-flex: 25%; 
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} 
*/