body {
  background-color:white;
    margin: auto;
    padding: auto;
  
}
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
 /* .smiley{
    margin-top: -90px;
    left: 255px;
  position: relative;
    display: flex;
    width: 100px;
  }*/

  .heading {
    margin-left: 2%;
    margin-left: 2%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
  letter-spacing: 2px;
}

  
  /* .workdoc {
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1;   
    width: 20px;
    margin: center;
  }
  .type {
    background-color: black;
      color: black;
    font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    
  } */
  .topnav {
    overflow: hidden;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
letter-spacing: 2px;

  }
  .navbar {
    outline-style: solid;
    outline-color:#353935;
    outline-width: 1px;
    }
    .topnav a {
      text-decoration: none;
      
    }
    
    /* Change the color of links on hover */
    .topnav a:hover:not(.active) {
      background-color: transparent;
      color: #FF2400;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: o;
      overflow: hidden;
    }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
    padding: 2px 15px;
    }
    .active {
      color: #FF2400;
      /*outline-style:solid;
      outline-color: #353935;*/
      outline-width: 3px;
    }
  
  
    a {
      text-decoration:none;
      color: #353935;
    }
    
    
    a:hover{
      text-decoration:none;
    }
    * {
      transition: all .4s;
      box-sizing: border-box;
    }
   
      /*.box .rectangle {
    position:relative;
      border-radius: 5px;
      border: 2px solid;
      border-color: #000000;
      margin: auto;
      top: 150px;
      width: 35%;
      height: auto;
      padding: 25px;
      }*/

      .text-heading {
        position: relative;
      /* border-bottom: 1px solid #353935;*/
       color: #FF2400;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100px;
    font-size: 20px;
margin-left: 1%;
      }
      p {
        position: relative;
        font-family: "latino-gothic-variable",sans-serif;
            font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
            font-size: 15px;
    font-weight: 400;
    margin-left: 1%;
    
   
      }
      h4 {
        color: gray;
        font-family: "latino-gothic-variable",sans-serif;
            font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
            font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
      } 
      

    video{
      width: 30vw    !important;
        height: auto   !important;
       object-fit: contain;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: transparent;
      color: #353935;
    }
    .fa-linkedin {
        background: transparent;
        color: #353935;;
      }
    .footer {
        position: relative;
        margin-top: 30%;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        text-align: center;
     }
    
    /* contact form code 
      * {
        box-sizing: border-box;
      }
      .container2 {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color:black;
        border: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label,
    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
    
    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }
    
    button {
        padding: 10px 20px;
        background-color: black;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1134A6;
    }    

    .container1 {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    @media (max-width: 768px) {
      .container {
        width: 100%;
        padding: 10px;
      }
    }
    */
    