body {
    background-color: white;
    margin: auto;
    padding: auto;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*.smiley{
  margin-top: -90px;
  left: 255px;
position: relative;
  display: flex;
  width: 100px;
}*/
.heading {
  margin-left: 2%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
letter-spacing: 2px;
}
.topnav {
  overflow: hidden;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
letter-spacing: 2px;
}
.navbar {
    outline-style: solid;
    outline-color:#353935;
    outline-width: 1px;
  }
  .topnav a {
    text-decoration: none;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover:not(.active) {
    background-color: transparent;
    color: #FF2400;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: o;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 2px 15px;
  }
  .active {
    color: #FF2400;
    /*outline-style:solid;
    outline-color: #353935;*/
    outline-width: 3px;
  }
  section {
    position: relative;
    margin-left: 2%;
      padding: 20px;
    }
.section2 {
  position: relative;
  padding: 20px;
}
  p {
     font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-size: 15px;
font-weight: 400;


  }
  h2 {
    color: #FF2400;
    position: relative;
    font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100px;
  font-size: 20px;
letter-spacing: 1px;
  }
  h4 {
    color: gray;
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1; 
        font-size: 12px;
font-weight: 400;
letter-spacing: 2px;
word-spacing: 1px;
  } 
  .linebar {
    outline-style: dashed;
    outline-color:#353935;
    outline-width: 1px;
    margin-top: 3%;
  }
 /* .digital_work {
    background-color: white;
    outline-style: solid;
    outline-color: black;
    color: black;
    font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 2px;
text-align: center;
margin-top: 15%;
top: 50px;
position: relative;
        width: 200px;
        padding: 10px;
        margin-left: 12px;
        border-radius: 5px;
  }*/

  * {
    transition: all .4s;
  }

  .main_content {
    
   /* margin: 60px 0 40px;*/
   margin: auto;
    column-gap: 20px;
    width: 95vw;
    padding: 10px;
    position:relative;
    height:fit-content;
  }
    .picture_wrapper {
      margin-bottom: 10px;
    }
      .img {
        /* height: 100%;
        width: 100%; */
        align-content: center;
        object-fit: cover;
        border-radius: 2px;
      }

      video {
        /* override other styles to make responsive */
        width: 100%    !important;
        height: auto   !important;
       object-fit: contain;
      }
      
      * {
        box-sizing: border-box;
      }

      .instagram_mockup {
        /* margin-top: 181%; */
        width: 93.6vw;
       object-fit: contain;
       /*
        margin-top: -47%;
        /* position:absolute; */
      }

      .poster{
        /* position:absolute; */
        width:35vw;
        object-fit: contain;
        /*top:100vh;*/
      }
    .poster_mockup{
      /* position:absolute; */
      object-fit: contain;
      width: 52.5vw;
      
    }
    .visual {
      background-color: white;
        outline-style: solid;
        outline-color: black;
        color: black;
        font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 2px;
    text-align:center;
    margin-top: 185%;
    top:50px;
    position: relative;
            width: 200px;
            padding: 10px;
            margin-left: 12px;
            border-radius: 5px;
      }
    
    
    .main_content2 {
      background-color: transparent;
      margin: auto;
      column-gap: 20px;
      width: 95vw;
      padding: 10px;
      position:relative;
      height:fit-content;
    }
      .picture_wrapper2 {
        margin-bottom: 10px;
      }
       
  
        .cover {
          /* margin-top: 181%; */
          width: 35vw;
          object-fit: contain;
          /* position:absolute; */
        }
  
        .spread1{
          /* position:absolute; */
          width:57vw;
          margin-left: 35.5vw;
          object-fit: contain;
          /*top:100vh;*/
        }
        .spread2{
          /* position:absolute; */
          width:55vw;
          transform: rotate(90deg);
          margin-left: -11%;
          margin-top: -29%;
          object-fit: contain;
          /*top:100vh;*/
        }
      .spread3{
        /* position:absolute; */
        width:57vw;
        margin-top: -30%;
        object-fit: contain;
      }
      .interface {
        /* override other styles to make responsive */
        margin-top: -9%;
        margin-left: 38%;
        width: 57vw   !important;
        height: auto   !important;
       object-fit: contain;
      }


      .slow {
        background-color: white;
        outline-style: solid;
        outline-color: black;
        color: black;
        font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 2px;
    text-align:center;
    margin-top: 165%;
    top:50px;
    position: relative;
            width: 200px;
            padding: 10px;
            margin-left: 12px;
            border-radius: 5px;
      }
      .main_content3 {
        background-color: #FAF9F6;
        margin: auto;
        column-gap: 20px;
        width: 95vw;
        padding: 10px;
        position:relative;
        height:fit-content;
      }
        .picture_wrapper3 {
          margin-bottom: 10px;
        }
        .poster2 {
          /* margin-top: 181%; */
          width: 35vw;
          object-fit: contain;
          /* position:absolute; */
        }
        .event-poster {
          width: 35vw;
          margin-left: 5%;
          object-fit: contain;
        }
        .mockup1{
          /* position:absolute; */
          width:57vw;
          object-fit: contain;
          /*top:100vh;*/
        }
        .mockup2{
          /* position:absolute; */
          width:35vw;
          object-fit: contain;
          /*top:100vh;*/
        }
      
      
/* responsive */
@media (min-width: 1200px) {
  .main_content .main_content2 .main_content3{
    column-count: 4;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main_content .main_content2 .main_content3{
    column-count: 3;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main_content .main_content2 .main_content3{
    column-count: 2;
  }
}

@media (max-width: 575px) {
  .main_content .main_content2 .main_content3{
    column-count: 1;
  }
}
/*
  .container1 {
    position: relative;
    height:50%;
    width: 100%;
      top: -180px;
      vertical-align: center;
      background-color:transparent;
  }
.poster {
  position: relative;
width: 455px;
height: 526px;
margin-top: 310px;
float: left;
  margin-left: 70px;
object-fit: contain;
}
.poster_mockup {
  position: relative;
  width: 600px;
  height: 600px;
  margin-top: 840px;
  float: left;
  margin-left: -29%;
  object-fit: contain;
  }
  
.instagram_mockup {
  position: relative;
  width: 739px;
  height: 371px;
margin-top: 50px;
float: right;
object-fit: contain;
}
.banner_animation {
  position: relative;
  width: 239px;
  height: 326px;
  top: 310px;
  left: 160px;
  object-fit: contain;
}
.web_mockup {
  position: relative;
  width: 466px;
  height: 326px;
  top: 199px;
  left: 111px;
  object-fit: contain;
} */
  /* .work {
    background-color: black;
    outline-style: solid;
    outline-color: whitesmoke;
    color: whitesmoke;
    font-family: anton, sans-serif;
font-style: normal;
font-size: 100%;
font-weight: 400;
letter-spacing: 5px;
    display: flex;
    width: 20%;
    height: 20%;
    
        padding: 10px 50px;
        margin-left: 10px;
        border-radius: 5px;
  }
  
  .workdoc {
    font-family: "latino-gothic-variable",sans-serif;
        font-variation-settings: 'wght' 1, 'wdth' 76, 'slnt' 1;   
    width: 20px;
    margin-left: 5%;
  } */
 /* .type {
    background-color: whitesmoke;
      color: black;
    font-family: anton, sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    
  }*/

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    outline-style: solid;
    outline-color: #353935;
    outline-width: 3px;
    background-color: transparent; /* Set a background color */
    color: #353935; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
  font-weight: 100px;
    font-size: 15px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #353935; /* Add a dark-grey background on hover */
    color: #F9F6EE;
  }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-instagram {
      background: transparent;
      color: #353935;
    }
    .fa-linkedin {
        background: transparent;
        color: #353935;
      }
    .footer {
        position: relative;
        margin-top: 10%; 
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        text-align: center;
     }
    
    a {
        text-decoration:none;
        color: #353935;
      }
      
      a:hover{
        text-decoration:none;
      }
      